<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="/css/navbar.css">
    
    <title>Document</title>
</head>
<body>
    <%- include('layout/navbar')  %> 
    <div class="container">
        <div class="logo-title-container">
            <div class="nycu"></div>
            <div class="logo-title">N</div>
            <div class="logo-title">Y</div>
            <div class="logo-title">C</div>
            <div class="logo-title">U</div>
            <div class="nctu"></div>
        </div>
        <div class="title">
            國立陽明交通大學
        </div>
    </div>
</body>
</html>