<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/info.css">
    <link rel="stylesheet" href="css/navbar.css">

    <title>Document</title>
</head>
<body>
    <%- include('layout/login-navbar') %> 

    <div class="center">
        <h1>
          <span>Info</span>
          <span>Info</span>
          <span>Info</span>
        
        </h1>
    </div>
    <div class="text-container">
        <h1>Hi! You might be a new freshman or senior, but I hope this information is useful!</h1>
        <p>To graduate, you must take atleast a certain number of credits which depends on your department requirement.
        For details, you can check your department website and you can find it usually by typing <i>"[your department] NYCU"</i>.
        Each semester, usually students will take between required, elective, general education, and language course.</p>
        <ul>
            <li>Required: Required course is a course you MUST take during your four years study here</li>
            <li>Elective: Elective course is a course where you have the freedom to choose which one you want to take. 
                However, usually you are required to take a certain amount of courses from certain department. 
                It's also depends on your selected topics, like for CS there are 7 topics to choose from</li>
            <li>General Education: Our GPA savior! Usually GE course are "Easy" because they need less effort and the grading is not as strict as required and elective course.
                However, you have to know which one to choose because not all GE is easy.
            </li>
            <li>Language: If you are a 僑生 or Taiwanese, you have to take a certain amount of English class.
                If you are a 外籍生/International student, you have to take a certain amount of Chinese class.
                Besides from that, you also have to take a certain amount of foreign language class.
                You also can waive the language credit by providing the language certificates.
            </li>
        </ul>

        <h1>Tips!</h1>
        <ul>
            <li>Each semester, don't take only required and elective courses. Make sure you take some GE or language course so that it can boost your GPA and can act like some sort of a "failsafe"</li>
            <li>Check the course </li>
        </ul>
    </div>
    
</body>
</html>