<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <title>Document</title>
</head>
<body>
    <%- include('layout/login-navbar') %> 
    
    
    <div class="courses-container">
        <div class="caption">Here are the required courses you must take:</div>
        <table class="courses">
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Year</th>
                    <th>Semester</th>
                </tr>
            </thead>
            <tbody>
                <% if (courses != null) { %>
                    <% courses.forEach(row => { %>
                    <tr>
                        <td><%= row.course_name %></td>
                        <td><%= row.year %></td>
                        <td><%= row.semester %></td>
                    </tr>
                    <% }) %> 
                <% } %>
            </tbody>
        </table>
    </div>

</body>
</html>