.courses-container{
    font-family: "Montserrat", sans-serif;
}


.caption{
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
}

.courses{
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px
}

.courses thead tr {
    background-color: rgba(0, 136, 169, 1);
    color: #ffffff;
    text-align: left;
}

.courses th, .courses td{
    padding: 12px 15px;
}

.courses tbody tr {
    border-bottom: 1px solid #dddddd;
}

.courses tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.courses tbody tr:last-of-type {
    border-bottom: 2px solid rgba(0, 136, 169, 1);
}
