<header>
    <div class="logo" onclick="location.href='dashboard';">
        <div class="logo-title">N</div>
        <div class="logo-title">Y</div>
        <div class="logo-title">C</div>
        <div class="logo-title">U</div>
    </div>
    <nav>
        <ul class="nav__links">
            <li><a href="/info">Info</a></li>
            <li><a href="/must-take">Courses You Need To Take</a></li>
            <li><a href="/general-course-recommendation">General Courses Recommendation</a></li>
            <li><a href="/required-course-recommendation">Required Courses Recommendation</a></li>
            <!-- <li><a href="#">Projects</a></li>
            <li><a href="#">About</a></li> -->
        </ul>
    </nav>
    <a class="cta" href="/logout">Log Out</a>
</header>