<header>
    <div class="logo">
        <div class="logo-title">N</div>
        <div class="logo-title">Y</div>
        <div class="logo-title">C</div>
        <div class="logo-title">U</div>
    </div>
    <nav>
        <ul class="nav__links">
            <li><a href="/insert_values">Add User</a></li>
            <li><a href="/insert_user_data">Insert User Data</a></li>
            <li><a href="/query_user_data">Query User Data</a></li>
            <!-- <li><a href="#">About</a></li> -->
        </ul>
    </nav>
    <a class="cta" href="/login">Login</a>
</header>